<section id="partner" class="p-5 ">
  <div class="container">
    <h2 class="text-center text-dark">{{t "Os nossos parceiros"}}</h2>
   
    <div class="row  justify-content-center ">
      <div class="card-group mt-2  ">
        <div class="card bg-transparent border-0 m-2 card-partner " style="height:20;">
          <a href="https://www.aceeu.org/" target="_blank" rel="noopener"><img
              src="{{@site.url}}/assets/images/partner/aceeulogo.png" class="card-img"
              alt="ACEEU Accreditation Council for Entrepreneurial & Engaged Universities - Germany"></a>
        </div>
        <div class="card bg-transparent border-0 m-2 card-partner">
          <a href="https://www.afeji.org/" target="_blank" rel="noopener"><img
              src="{{@site.url}}/assets/images/partner/afejilogo.png" class="card-img" alt="AFEJI
Toutes les vies ont la même valeur - Non-profit Organization Management - France"></a>
        </div>
        <div class="card bg-transparent border-0 m-2 card-partner">
          <a href="https://www.amadorainova.pt/" target="_blank" rel="noopener"><img
              src="{{@site.url}}/assets/images/partner/amadorainovalogo.png" class="card-img"
              alt="#Amadora INOVA ,Amadora Inovation EM Unipessoal lda - Public Institution - Portugal"></a>
        </div>
        <div class="card bg-transparent border-0 m-2  card-partner">
          <a href="https://www.anzianienonsolo.it/online/" target="_blank" rel="noopener"> <img
              src="{{@site.url}}/assets/images/partner/ansrere.png" class="card-img" alt="Anziani e non solo - Italy"></a>
        </div>
        <div class="card bg-transparent border-0 m-2  card-partner ">
          <a href="https://www.aproximar.pt/" target="_blank" rel="noopener"><img src="{{@site.url}}/assets/images/partner/aproximarlogo.png"
              class=" card-img" alt="APROXIMAR, Cooperativa de Solidariedade Social - Portugal "></a>
        </div>
        <div class="card bg-transparent border-0 m-2  card-partner">
          <a href="https://consorcidelaribera.com/" target="_blank" rel="noopener"><img src="{{@site.url}}/assets/images/partner/consorcilogo.png"
              class="card-img" alt="Consorci de la Ribera - Spain"></a>
        </div>
        <div class="card bg-transparent border-0 m-2  card-partner">
          <a href="https://easi-socialinnovation.org/" target="_blank" rel="noopener"><img src="{{@site.url}}/assets/images/partner/easilogo.png"
              class="card-img" alt="EaSi the European Association for Social Innovation - Romania"></a>
        </div>
        <div class="card bg-transparent border-0 m-2  card-partner">
          <a href="https://www.expandinghorizons.co.uk/" target="_blank" rel="noopener"><img src="{{@site.url}}/assets/images/partner/mehlogo.png"
              class="card-img" alt="Merseyside Expanding Horizons - Ingland"></a>
        </div>
      </div>
    </div>
  </div>
</section>