<section class="container  pb-4 px-1">

  <div class="col-md-12 justify-content-center  ">

    <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row">
      <div class="col-md-4 ">

        <img class="justify-content-sm-center" src="{{@site.url}}/assets/images/next_door_Symbol.png" alt="" style="width: 100%; height:auto">
      </div>
      <div class="col-md-4 ">

        <p class="lead text-aling-center jusify-content-center fw-bold ">
          {{t "Das digitale Angebot 'NEXT DOOR' ist eine Plattform, die Nachbarn und Gemeindemitarbeiter dazu motivieren und darin unterstützen soll, die Vereinsamung von älteren Menschen zu verringern."}}
        </p>

      </div>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-md-4 ">
        <p class="lead text-aling-center ">
         {{t "Auf dieser Plattform finden Sie relevante Informationen über Dienstleistungen, die älteren Menschen in Ihrer Region zur Verfügung stehen, sowie einen Kalender mit Aktivitäten, die sich an Senioren richten und generationenübergreifende Verbindungen fördern."}}
        </p>
      </div>
      <div class="col-md-4 self-align-center mt-sm-3">
        <img src="{{@site.url}}/assets/images/mapservicepage.png" alt="service map page print" style="width:100%; height:auto">
      </div>
    </div>
    <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row mt-4">
      <div class="col-md-4 ">
        <a href="/resources"><img src="{{@site.url}}/assets/images/resourcesprint.png" alt="resorces ppage print"
            style="width:100%; height:auto"></a>
      </div>
      <div class="col-md-4 ">
        <p class="lead text-aling-center mt-sm-3">
          {{t "In der Rubrik Informationsquellen haben Sie Zugang zu Informationen, die sich an Senioren richten, an Nachbarn, die ihre Unterstützung anbieten, und an Organisationen, darüber, wie man den Kontakt mit älteren Menschen in der lokalen Gemeinschaft stärken kann."}}
        </p>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mt-5">


      <div class="col-md-8  align-self-md-center ">
        <div class="align-self-md-center">
          <p class="lead text-aling-center">
            {{t "Diese Plattform wurde im Rahmen des Projekts Next Door mit Unterstützung des Programms Erasmus+ entwickelt. Daran beteiligt sind acht Partner aus England (MEH), Frankreich (Afeji), Deutschland (ACEEU), Italien (ANS), Portugal (Aproximar und Ainova), Rumänien (EaSI) und Spanien (Consorci de la Ribera). Wenn Sie mehr über das Projekt und seine Partner erfahren möchten, besuchen Sie bitte unsere Projektseite http://www.nextdoor-project.org/."}} 
            <u><a href="http://www.nextdoor-project.org/">http://www.nextdoor-project.org/</a></u>.
          </p>
          

        </div>

      </div>

    </div>




  </div>
</section>