<section class="container  pb-4 px-1">

  <div class="col-md-12 justify-content-center  ">

    <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row">
      <div class="col-md-4 ">

        <img class="justify-content-sm-center" src="{{@site.url}}/assets/images/next_door_Symbol.png" alt="" style="width: 100%; height:auto">
      </div>
      <div class="col-md-4 ">

        <p class="lead text-aling-center jusify-content-center fw-bold ">
          {{t "A ferramenta digital 'NEXT DOOR' é uma plataforma destinada a motivar e apoiar vizinhos e trabalhadores comunitários na redução do isolamento das pessoas idosas."}}
        </p>

      </div>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-md-4 ">
        <p class="lead text-aling-center ">
         {{t "Nesta plataforma, encontrará informação relevante sobre serviços disponíveis para pessoas idosas na sua área local, bem como um calendário de atividades dedicado aos idosos e de apoio às ligações intergeracionais."}}
        </p>
      </div>
      <div class="col-md-4 self-align-center mt-sm-3">
        <img src="{{@site.url}}/assets/images/mapservicepage.png" alt="service map page print" style="width:100%; height:auto">
      </div>
    </div>
    <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row mt-4">
      <div class="col-md-4 ">
        <a href="/resources"><img src="{{@site.url}}/assets/images/resourcesprint.png" alt="resorces ppage print"
            style="width:100%; height:auto"></a>
      </div>
      <div class="col-md-4 ">
        <p class="lead text-aling-center mt-sm-3">
          {{t "Na secção de Recursos, terá acesso a informação dedicada aos idosos, vizinhos dispostos a oferecer o seu apoio, e organizações, sobre como promover a ligação com os idosos na sua comunidade local."}}
        </p>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mt-5">


      <div class="col-md-8  align-self-md-center ">
        <div class="align-self-md-center">
          <p class="lead text-aling-center">
           Esta plataforma foi desenvolvida pelo projecto Next Door, com o apoio do programa Erasmus+. Envolve 8 parceiros de: Inglaterra (MEH), França (Afeji), Alemanha (ACEEU), Itália (ANS), Portugal (Aproximar e Ainova), Roménia (EaSI) e Espanha (Consorci de la Ribera). Se desejar saber mais sobre o projecto e os seus parceiros, visite a nossa página do projecto em: http://www.nextdoor-project.org/.
            <u><a href="http://www.nextdoor-project.org/">http://www.nextdoor-project.org/</a></u>.
          </p>
          

        </div>

      </div>

    </div>




  </div>
</section>