<section class="container  pb-4 px-1">

  <div class="col-md-12 justify-content-center  ">

    <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row">
      <div class="col-md-4 ">

        <img class="justify-content-sm-center" src="{{@site.url}}/assets/images/next_door_Symbol.png" alt="" style="width: 100%; height:auto">
      </div>
      <div class="col-md-4 ">

        <p class="lead text-aling-center jusify-content-center fw-bold ">
          {{t "La herramienta digital 'NEXT DOOR' es una plataforma destinada a motivar y apoyar a los vecinos y trabajadores de la comunidad para reducir el aislamiento de las personas mayores."}}
        </p>

      </div>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-md-4 ">
        <p class="lead text-aling-center ">
          En esta plataforma, encontrará información relevante sobre los servicios disponibles para las personas mayores en su área local, así como un calendario de actividades dedicadas a los mayores y al apoyo de las relaciones intergeneracionales.
        </p>
      </div>
      <div class="col-md-4 self-align-center mt-sm-3">
        <img src="{{@site.url}}/assets/images/mapservicepage.png" alt="service map page print" style="width:100%; height:auto">
      </div>
    </div>
    <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row mt-4">
      <div class="col-md-4 ">
        <a href="/resources"><img src="{{@site.url}}/assets/images/resourcesprint.png" alt="resorces ppage print"
            style="width:100%; height:auto"></a>
      </div>
      <div class="col-md-4 ">
        <p class="lead text-aling-center mt-sm-3">
         En la sección de Recursos, tendrá acceso a información dedicada a los mayores, vecinos dispuestos a ofrecer su apoyo y organizaciones, sobre cómo promover el contacto con los mayores en su comunidad local.
        </p>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mt-5">


      <div class="col-md-8  align-self-md-center ">
        <div class="align-self-md-center">
          <p class="lead text-aling-center">
            {{t "Esta plataforma fue desarrollada por el proyecto Next Door con el apoyo del programa Erasmus+. En él participan 8 socios de Inglaterra (MEH), Francia (Afeji), Alemania (ACEEU), Italia (ANS), Portugal (Aproximar y Ainova), Rumanía (EaSI) y España (Consorcio de la Ribera). Si desea saber más sobre el proyecto y sus socios. Por favor, visite nuestra página del proyecto"}} 
            <u><a href="http://www.nextdoor-project.org/">http://www.nextdoor-project.org/</a></u>.
          </p>
          

        </div>

      </div>

    </div>




  </div>
</section>