<section class="container  pb-4 px-1">

  <div class="col-md-12 justify-content-center  ">

    <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row">
      <div class="col-md-4 ">

        <img class="justify-content-sm-center" src="{{@site.url}}/assets/images/next_door_Symbol.png" alt="" style="width: 100%; height:auto">
      </div>
      <div class="col-md-4 ">

        <p class="lead text-aling-center jusify-content-center fw-bold ">
          {{t "Lo strumento digitale 'NEXT DOOR' è una piattaforma destinata a motivare e supportare i cittadini e gli operatori della comunità nella riduzione dell'isolamento degli anziani."}}
        </p>

      </div>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-md-4 ">
        <p class="lead text-aling-center ">
         {{t "Su questa piattaforma troverai informazioni rilevanti sui servizi disponibili per le persone anziane nel tuo territorio, nonché un calendario di attività dedicate agli anziani e a supporto delle relazioni intergenerazionali."}}
        </p>
      </div>
      <div class="col-md-4 self-align-center mt-sm-3">
        <img src="{{@site.url}}/assets/images/mapservicepage.png" alt="service map page print" style="width:100%; height:auto">
      </div>
    </div>
    <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row mt-4">
      <div class="col-md-4 ">
        <a href="/resources"><img src="{{@site.url}}/assets/images/resourcesprint.png" alt="resorces ppage print"
            style="width:100%; height:auto"></a>
      </div>
      <div class="col-md-4 ">
        <p class="lead text-aling-center mt-sm-3">
          {{t "Nella sezione risorse, avrai accesso alle informazioni dedicate agli anziani, ai vicini disposti a dedicare loro un po' di tempo e alle organizzazioni su come promuovere la vicinanza con gli anziani nella loro comunità locale."}}
        </p>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mt-5">


      <div class="col-md-8  align-self-md-center ">
        <div class="align-self-md-center">
          <p class="lead text-aling-center">
            {{t "Questa piattaforma è stata sviluppata dal progetto Next Door con il supporto del programma Erasmus+. Coinvolge 8 partner provenienti da Inghilterra (MEH), Francia (Afeji), Germania (ACEEU), Italia (ANS), Portogallo (Aproximar e Ainova), Romania (EaSI) e Spagna (Consorci de la Ribera)"}} 
            <u><a href="http://www.nextdoor-project.org/">http://www.nextdoor-project.org/</a></u>.
          </p>
          

        </div>

      </div>

    </div>




  </div>
</section>