<section class="container  pb-4 px-1">

  <div class="col-md-12 justify-content-center  ">

    <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row">
      <div class="col-md-4 ">

        <img class="justify-content-sm-center" src="{{@site.url}}/assets/images/next_door_Symbol.png" alt="" style="width: 100%; height:auto">
      </div>
      <div class="col-md-4 ">

        <p class="lead text-aling-center jusify-content-center fw-bold ">
          L'outil numérique "NEXT DOOR" est une plateforme destinée à soutenir les professionnels et citoyens volontaire dans la lutte contre l'isolement des personnes âgées.
        </p>

      </div>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-md-4 ">
        <p class="lead text-aling-center ">
         {{t "Sur cette plateforme, vous trouverez des informations pertinentes sur les services disponibles pour les personnes âgées dans votre région ainsi qu'un calendrier d'activités dédiées aux seniors et favorisant les liens intergénérationnels."}}
        </p>
      </div>
      <div class="col-md-4 self-align-center mt-sm-3">
        <img src="{{@site.url}}/assets/images/mapservicepage.png" alt="service map page print" style="width:100%; height:auto">
      </div>
    </div>
    <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row mt-4">
      <div class="col-md-4 ">
        <a href="/resources"><img src="{{@site.url}}/assets/images/resourcesprint.png" alt="resorces ppage print"
            style="width:100%; height:auto"></a>
      </div>
      <div class="col-md-4 ">
        <p class="lead text-aling-center mt-sm-3">
          {{t "Dans la section Ressources, vous aurez accès à des informations destinées aux personnes âgées, aux voisins prêts à offrir leur soutien, et aux organisations, sur la façon de promouvoir le lien avec les personnes âgées dans leur communauté locale."}}
        </p>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mt-5">


      <div class="col-md-8  align-self-md-center ">
        <div class="align-self-md-center">
          <p class="lead text-aling-center">
            {{t "Cette plateforme a été développée par le projet Next Door avec le soutien du programme Erasmus+. Elle implique 8 partenaires d'Angleterre (MEH), de France (Afeji), d'Allemagne (ACEEU), d'Italie (ANS), du Portugal (Aproximar et Ainova), de Roumanie (EaSI) et d'Espagne (Consorci de la Ribera). Si vous souhaitez en savoir plus sur le projet et ses partenaires. Veuillez visiter notre page de projet http://www.nextdoor-project.org/."}} 
            <u><a href="http://www.nextdoor-project.org/">http://www.nextdoor-project.org/</a></u>.
          </p>
          

        </div>

      </div>

    </div>




  </div>
</section>