<!DOCTYPE html>
<html lang="ro">
{{!--
<script>
  Weglot.initialize({
    api_key: 'wg_77e26a89dd778f6e520e9685002cdf352'
  });
</script> --}}

<head>
  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{!-- Base Meta --}}


  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google-site-verification" content="VQ6ikxWand0AXUKyCIIHYluKqKqhR-9rUeHYWE9Z0Rg" />

  {{!-- Preload assets --}}
  <link rel="preload" href="{{asset "css/app.css"}}" as="style" />
  <link rel="preload" href="{{asset "js/manifest.js"}}" as="script" />
  <link rel="preload" href="{{asset "js/vendor/content-api.min.js"}}" as="script" />
  <link rel="preload" href="{{asset "js/vendor.js"}}" as="script" />
  <link rel="preload" href="{{asset "js/app.js"}}" as="script" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
  {{!-- bootstrapi icon --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  {{!-- custom styles --}}
  <link rel="stylesheet" href="{{asset "css/custom.css"}}" />
  {{!-- This #block helper will try to preload page-specific assets --}}
  {{{block "preload"}}}

  {{!-- Styles & Scripts --}}
  <style>
    /* These font-faces are here to make fonts work if the Ghost instance is installed in a subdirectory */
    /* source-sans-pro-regular */
    @font-face {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: local('SourceSansPro-Regular'),
      url("{{asset 'fonts/source-sans-pro/latin/source-sans-pro-regular.woff2'}}") format('woff2'),
      url("{{asset 'fonts/source-sans-pro/latin/source-sans-pro-regular.woff'}}") format('woff');
    }

    /* source-sans-pro-600 */
    @font-face {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: local('SourceSansPro-SemiBold'),
      url("{{asset 'fonts/source-sans-pro/latin/source-sans-pro-600.woff2'}}") format('woff2'),
      url("{{asset 'fonts/source-sans-pro/latin/source-sans-pro-600.woff'}}") format('woff');
    }

    /* source-sans-pro-700 */
    @font-face {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: local('SourceSansPro-Bold'),
      url("{{asset 'fonts/source-sans-pro/latin/source-sans-pro-700.woff2'}}") format('woff2'),
      url("{{asset 'fonts/source-sans-pro/latin/source-sans-pro-700.woff'}}") format('woff');
    }

    /* iconmoon */
    @font-face {
      font-family: 'icomoon';
      font-weight: normal;
      font-style: normal;
      font-display: swap;
      src: url("{{asset 'fonts/icomoon/icomoon.eot?101fc3'}}");
      src: url("{{asset 'fonts/icomoon/icomoon.eot?101fc3#iefix'}}") format('embedded-opentype'),
      url("{{asset 'fonts/icomoon/icomoon.ttf?101fc3'}}") format('truetype'),
      url("{{asset 'fonts/icomoon/icomoon.woff?101fc3'}}") format('woff'),
      url("{{asset 'fonts/icomoon/icomoon.svg?101fc3#icomoon'}}") format('svg');
    }
  </style>

  <link rel="stylesheet" type="text/css" href="{{asset "css/app.css"}}" media="screen" />

  {{!-- This #block helper will inject a stylesheet for a specific page --}}
  {{{block "styles"}}}

  {{!-- This #block helper will pull data from the hero partial
  to inject styles of the hero image to make it responsive --}}
  {{{block "herobackground"}}}

  {{!-- This tag outputs SEO meta+structured data and other important settings --}}
  {{ghost_head}}

  {{!-- This style overrides the accent color to match the one from the Admin --}}
  <style>
    :root {
      --primary-subtle-color: var(--ghost-accent-color) !important;
    }
  </style>

  {{!-- These variables are used to make the search form work --}}
  <script>
    // @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&dn=expat.txt Expat
    const ghostHost = "{{@site.url}}"
    const apibaseurl = "https://nextdoor-backoffice.up.railway.app"

      // @license-end
  </script>
  {{#if @custom.search_api_key}}
  <script>
    const ghostSearchApiKey = "{{@custom.search_api_key}}"
  </script>
  {{/if}}

  {{!-- This variable disbale the fade animation when it's enabled --}}
  {{#if @custom.disable_fade_animation}}
  <script>
    const disableFadeAnimation = {{@custom.disable_fade_animation}}
  </script>
  {{/if}}
</head>

<body class="{{body_class}}">
  {{> header-ro}}

  {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
  {{{body}}}

  {{!-- Search form --}}
  {{!-- {{> search --}}

  {{!-- Scripts --}}

  {{!-- The footer --}}
  {{> footer-ro}}

  {{!-- Common scripts shared between pages --}}
  <script defer src="{{asset "js/manifest.js"}}"></script>
  <script defer src="{{asset "js/vendor/content-api.min.js"}}"></script>
  <script defer src="{{asset "js/vendor.js"}}"></script>
  <script defer src="{{asset "js/app.js"}}"></script>
  <script defer src="{{asset "js/bootstrap.min.js"}}"></script>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  {{!-- The #block helper will pull in data from the #contentFor other template files --}}
  {{{block "scripts"}}}

  {{!-- Ghost outputs important scripts and data with this tag --}}
  {{ghost_foot}}
</body>

</html>


{{!--
<script type="text/javascript">
  if (typeof jQuery == 'undefined') {
    document.write('<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></' + 'script>');
  }
</script> --}}

{{!--
<script async>
  if (typeof jQuery == 'undefined') {
    document.write('<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></' + 'script>');
  }
  $(".navbar .nav-link").on("click", function () {
    $(".navbar").find(".active").removeClass("active");
    $(this).addClass("active");
    console.log("clicked11111111111111111111")
  });
</script> --}}