{{!< default}}

<main class="main-wrap  l-content pt-5">
   <div  class="l-content pt-5">
  <div class="container ">
    <br><br>
 
     <h2 class="text-center text-muted">{{t "Know your Neighbours"}}</h2>
     <div class="pt-5 mx-5 row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <a href="#" class="btn btn-outline-warning btn-lg" tabindex="-1" role="button">
            <h4 class="text-muted">{{t "Neighbours from Berceni"}}</h4>
            <h6 class="text-muted">{{t "Join the Facebook group"}}</h6>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <a href="#" class="btn btn-outline-warning btn-lg" tabindex="-1" role="button">
            <h4 class="text-muted">{{t "Neighbours from Berceni"}}</h4>
            <h6 class="text-muted">{{t "Join the Facebook group"}}</h6>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <a href="#" class="btn btn-outline-warning btn-lg" tabindex="-1" role="button">
            <h4 class="text-muted">{{t "Neighbours from Berceni"}}</h4>
            <h6 class="text-muted">{{t "Join the Facebook group"}}</h6>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <a href="#" class="btn btn-outline-warning btn-lg" tabindex="-1" role="button">
            <h4 class="text-muted">{{t "Neighbours from Berceni"}}</h4>
            <h6 class="text-muted">{{t "Join the Facebook group"}}</h6>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
 </main>   
 