<section class="container  pb-4 px-1">

  <div class="col-md-12 justify-content-center  ">

    <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row">
      <div class="col-md-4 ">

        <img class="justify-content-sm-center" src="{{@site.url}}/assets/images/next_door_Symbol.png" alt="" style="width: 100%; height:auto">
      </div>
      <div class="col-md-4 ">

        <p class="lead text-aling-center jusify-content-center fw-bold ">
          {{t "The digital tool 'NEXT DOOR' is a platform destined to motivate and support neighbours and community workers in reducing isolation of elderly people."}}
        </p>

      </div>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-md-4 ">
        <p class="lead text-aling-center ">
         {{t "On this platform, you will find relevant information on services available to older people in your local area as well as a calendar of activities dedicated to seniors and supporting intergenerational connections."}}
        </p>
      </div>
      <div class="col-md-4 self-align-center mt-sm-3">
        <img src="{{@site.url}}/assets/images/mapservicepage.png" alt="service map page print" style="width:100%; height:auto">
      </div>
    </div>
    <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row mt-4">
      <div class="col-md-4 ">
        <a href="/resources"><img src="{{@site.url}}/assets/images/resourcesprint.png" alt="resorces ppage print"
            style="width:100%; height:auto"></a>
      </div>
      <div class="col-md-4 ">
        <p class="lead text-aling-center mt-sm-3">
          {{t "In the Resources section, you will have access to information dedicated to seniors, neighbours willing to offer their support, and organisations, on how to promote connection with seniors in their local community."}}
        </p>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mt-5">


      <div class="col-md-8  align-self-md-center ">
        <div class="align-self-md-center">
          <p class="lead text-aling-center">
            {{t "This platform was developed by the Next Door project with the support of the Erasmus&plus; program. It involves 8 partners from England &lpar;MEH&rpar;, France &lpar;Afeji&rpar;, Germany &lpar;ACEEU&rpar, Italy &lpar;ANS&rpar;, Portugal &lpar;Aproximar and Ainova&rpar;, Romania &lpar;EaSI&rpar; and Spain &lpar;Consorci de la Ribera&rpar; If you would like to know more about the project and its partners. Please visit our project page"}} 
            <u><a href="http://www.nextdoor-project.org/">http://www.nextdoor-project.org/</a></u>.
          </p>
          

        </div>

      </div>

    </div>




  </div>
</section>